<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <title>Dashboard</title>
</head>
<body>
    {% if current_user.username %}

    <h1>Hello you are logged in. User: {{ current_user.username }}</h1>
    {% else %}
    {{ googlename }}
    {% endif %}
    <a href="{{url_for('logout')}}">Press here to logout</a>
    <a href="{{url_for('googlelogout')}}">Press google user here to logout</a>
    <p>{{ GSit[0] }}</p>
    <p>{{ UTime[0] }}</p>
</body>
</html>