<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.1/css/bootstrap.css">
       
        
    </head>
    <body>
        <style>
            .multiselect{
              width:200px;
            }
            .selectBox{
              position: relative;
            }

            .selectBox select {
              width:100%;
              font-weight:bold;
            }
            .overSelect{
              position:absolute;
              left:0; right:0; top:0; bottom:0%;
            }

            #checkboxes{
              display:none;
              border:1px #dadada solid;

            }

            #checkboxes label{
              display:block;
            }

            #checkboxes label:hover {
              background-color: #1e90ff;
            
            }

          




        </style>
      
        
        <div class="multi_select_box">
          <select class="multi_select w-100"  >
                <option>新界北區</option>
                <option>港島區</option>
                <option>新界中區</option>
                <option>西貢區</option>
                <option>新界西區</option>
                <option>大嶼山區</option>
          </select>
      </div>


        <div class="multiselect">
            <div class="selectBox" onclick="showCheckboxes()">
                <select>
                  <option>Select an option</option>
                </select>
                <div class="overSelect"></div>
            </div>
            <div id="checkboxes">

              <label for="one"><input type = "checkbox" id = "one"/>First</label>
              <label for="one"><input type = "checkbox" id = "one"/>First</label>
              <label for="one"><input type = "checkbox" id = "one"/>First</label>
            </div>

        </div>

      
  




        <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
          <div class="card h-100">
            <img src="{{ url_for('static', filename='img/1.3.jpeg') }}" class="card-img-top" alt="馬鞍山昂平">
            <div class="card-body">
              <h5 class="card-title">馬鞍山昂平</h5>
              <p class="card-text">馬鞍山昂平是受歡迎的露營、登山和觀賞日出的好地方。這片遼闊的大草原背靠如金字塔的大金鐘，山坡的觀景台可俯瞰山下⋯⋯
              </p>
            </div>
            <div class="card-footer">
              <small class="text-muted">Last updated 3 mins ago</small>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="{{ url_for('static', filename='img/1.2.jpeg') }}" class="card-img-top" alt="望夫石">
            <div class="card-body">
              <h5 class="card-title">望夫石</h5>
              <p class="card-text">要數香港的著名地標非獅子山莫屬，但同樣位於獅子山郊野公園內的望夫石亦充滿傳奇。望夫石高約15米，原是屹立於山上⋯⋯ </p>
             

              <a href="3.html" target="_blank">查看更多</a> 
            </div>
            <div class="card-footer">
              <small class="text-muted" >Last updated 3 mins ago</small>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="{{ url_for('static', filename='img/1.1.jpeg') }}" class="card-img-top" alt="香港仔郊野公園">
            <div class="card-body">
              <h5 class="card-title">香港仔郊野公園</h5>
              <p class="card-text">公園內設有自然教育徑、樹木研習徑、健身徑、燒烤區、兒童遊樂設施及樹木廊，更是港島徑第三至四段所經之處。然後你會⋯⋯</p>
            </div>
            <div class="card-footer">
              <small class="text-muted">Lastsss updated 3 mins ago</small>
            </div>
          </div>
        </div>
      </div>
    
        <script src="" async defer></script>

        

  <div class="multi-selector">

          <div class="select-field">
        <input type="text" name="" placeholder="Choose tasks" id="" class="input-selector">
          <span class="down-arrow">&blacktriangledown;</span>
          </div>
          <div class="list">
              <label for="task1" class="task">
                <input type="checkbox" name="" id="task1">
                yo
                <span>10 mins</span>

              </label>
              
              <label for="task1" class="task">
                <input type="checkbox" name="" id="task1">
                yo
                <span>10 mins</span>

              </label>

              <label for="task1" class="task">
                <input type="checkbox" name="" id="task1">
                yo
                <span>10 mins</span>

              </label>

              <label for="task1" class="task">
                <input type="checkbox" name="" id="task1">
                yo
                <span>10 mins</span>

              </label>  
          </div>
        </div>


        <script type="text/javascript" src="" ></script>
        
        <script>
          var expanded = false ;
          function  showCheckboxes(){
            var checkboxes = document.getElementById("checkboxes");
            if (!expanded){
                  checkboxes.style.display="block";
                  expanded = true;


            } else   {
              checkboxes.style.display="none";
              expanded = false;
            }
          }
        </script>

        <script>
          document.querySelector('.select-field').addEventListener('click',()=>{ 
            document.querySelector('.list').classList.toggle('show');
          });
        </script>



<div class="container text-center">
<h1>OnClick Video PopUp</h1>
<div class="row"></div>
<div class="col-md-4"></div>
<img src="{{ url_for('static', filename='img/pic1.jpeg') }}" class="img-fluid">


</div>





<!-- Footer -->
<footer class="bg-dark text-center text-white">
  <!-- Grid container -->
  <div class="container p-4">
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Facebook -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-facebook-f"></i
      ></a>

      <!-- Twitter -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-twitter"></i
      ></a>

      <!-- Google -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-google"></i
      ></a>

      <!-- Instagram -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-instagram"></i
      ></a>

      <!-- Linkedin -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-linkedin-in"></i
      ></a>

      <!-- Github -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-github"></i
      ></a>
    </section>
    <!-- Section: Social media -->

    <!-- Section: Form -->
    <section class="">
      <form action="">
        <!--Grid row-->
        <div class="row d-flex justify-content-center">
          <!--Grid column-->
          <div class="col-auto">
            <p class="pt-2">
              <strong>Sign up for our newsletter</strong>
            </p>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-md-5 col-12">
            <!-- Email input -->
            <div class="form-outline form-white mb-4">
              <input type="email" id="form5Example21" class="form-control" />
              <label class="form-label" for="form5Example21">Email address</label>
            </div>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-auto">
            <!-- Submit button -->
            <button type="submit" class="btn btn-outline-light mb-4">
              Subscribe
            </button>
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </form>
    </section>
    <!-- Section: Form -->

    <!-- Section: Text -->
    <section class="mb-4">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt distinctio earum
        repellat quaerat voluptatibus placeat nam, commodi optio pariatur est quia magnam
        eum harum corrupti dicta, aliquam sequi voluptate quas.
      </p>
    </section>
    <!-- Section: Text -->

    <!-- Section: Links -->
    <section class="">
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Links</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-white">Link 1</a>
            </li>
            <li>
              <a href="#!" class="text-white">Link 2</a>
            </li>
            <li>
              <a href="#!" class="text-white">Link 3</a>
            </li>
            <li>
              <a href="#!" class="text-white">Link 4</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Links</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-white">Link 1</a>
            </li>
            <li>
              <a href="#!" class="text-white">Link 2</a>
            </li>
            <li>
              <a href="#!" class="text-white">Link 3</a>
            </li>
            <li>
              <a href="#!" class="text-white">Link 4</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Links</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-white">Link 1</a>
            </li>
            <li>
              <a href="#!" class="text-white">Link 2</a>
            </li>
            <li>
              <a href="#!" class="text-white">Link 3</a>
            </li>
            <li>
              <a href="#!" class="text-white">Link 4</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Links</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-white">Link 1</a>
            </li>
            <li>
              <a href="#!" class="text-white">Link 2</a>
            </li>
            <li>
              <a href="#!" class="text-white">Link 3</a>
            </li>
            <li>
              <a href="#!" class="text-white">Link 4</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </section>
    <!-- Section: Links -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2020 Copyright:
    <a class="text-white" href="https://mdbootstrap.com/">MDBootstrap.com</a>
  </div>
</footer>










    </body>
</html>