{%  extends "navbar1.html" %}


{%block content%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
    rel="stylesheet"
    />
    <!-- Google Fonts -->
    <link
    href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
    rel="stylesheet"
    />
    <!-- MDB -->
    <link
    href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.10.2/mdb.min.css"
    rel="stylesheet"
    />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    
    <link rel="stylesheet" href="{{ url_for('static',filename='css/register.css') }}">
      
    <title>Document</title>
</head>
<body class="text-center">
  
    <section class="vh-100 bg-image" style="background-image: url('https://hikers.shop/wp-content/uploads/2019/01/hi-1.jpg');">
        <div class="mask d-flex align-items-center h-100 gradient-custom-3">
          <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
              <div class="col-12 col-md-9 col-lg-8 col-xl-6">
                <div class="card" style="border-radius: 50px;">
                  <div class="card-body p-5">
                    <h2 class="text-uppercase text-center mb-5 text-primary">Create an account</h2>
                    <div class="container">
                    <form method="POST" class="form-register" style="color:rgb(136, 45, 45)">
                      {{  form.hidden_tag()  }}
                      <img src="{{ url_for('static', filename='img/icon-team.jpg') }}" style="width: 185px;" alt="logo">
                      <h1 class="h3 mb-3 font-weight-normal">
                          Please Create your Account
                      </h1>
                      <br>
                      <div class="form-outline mb-4 ">

                      {{ form.username.label() }}
                      {{ form.username(class="form-control text-light bg-dark",placeholder="User Name")}}
                      </div>
                      <div class="form-outline mb-4">
                      {{ form.email_address.label() }}
                      {{ form.email_address(class="form-control text-light bg-dark",placeholder="Email Address")}}
                      </div>
                      <div class="form-outline mb-4">
                      {{ form.password1.label() }}
                      {{ form.password1(class="form-control text-light bg-dark",placeholder="Password")}}
                      </div>
                      <div class="form-outline mb-4">
                      {{ form.password2.label() }}
                      {{ form.password2(class="form-control text-light bg-dark",placeholder="Confirm Password")}}
                      </div>
                      <br>
                      {{ form.submit(class="btn btn-lg btn-block btn-primary") }}
              
                  </form>
              
                  
              
                  </form>
                   </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

</body>
</html>
{%  endblock  %}
