{%extends 'navbar1.html' %}
{%block title%}
Register Page
{%endblock%}

{% block content %}
<body class="text-center">
<div class="container">
    <form method="POST" class="form-register" style="color:white">
        <img class="mb-4" src="https://res.cloudinary.com/jimshapedcoding/image/upload/v1597332609/android-icon-192x192_ove2a7.png" alt="">
        <h1 class="h3 mb-3 font-weight-normal">
            Please Create your Account
        </h1>
        <br>
        {{ form.username.label() }}
        {{ form.username(class="form-control",placeholder="User Name")}}
        {{ form.email_address.label() }}
        {{ form.email_address(class="form-control",placeholder="Email Address")}}
        {{ form.password1.label() }}
        {{ form.password1(class="form-control",placeholder="Password")}}
        {{ form.password2.label() }}
        {{ form.password2(class="form-control",placeholder="Confirm Password")}}
        <br>
        {{ form.submit(class="btn btn-lg btn-block btn-primary") }}

    </form>

    <div class="form-outline mb-4">
        {{ form.username.label(class="form-label") }}
        {{ form.username(class="form-control form-control-lg",placeholder="User Name")}}
    </div>

    <div class="form-outline mb-4">

    {{ form.email_address.label() }}
    {{ form.email_address(class="form-control form-control-lg",placeholder="Email Address")}}
</div>
{{ form.password1.label() }}
{{ form.password1(class="form-control",placeholder="Password")}}
<div class="form-outline mb-4">
{{ form.password2.label() }}
{{ form.password2(class="form-control",placeholder="Confirm Password")}}
</div>
{{ form.submit(class="btn btn-lg btn-block btn-primary") }}

 </body>   
</div>
    
{% endblock %}
